extends base

block navbar
    nav.navbar.navbar-default.navbar-fixed-top.topnav(role='navigation')
        .container.topnav
            .navbar-header
                a.navbar-brand.topnav(href='/')
                    img(src='/public/img/banner.png')


block content
    link(href='../public/css/index.css', rel='stylesheet')
    .content-section-a
        .container
            row
                .col-lg-5.col-sm-6
                    hr.section-heading-spacer
                    .clearfix
                    h2.section-heading
                        | Error 404
                    p.lead
                        | The page you requested does not exist!


