<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/external/moment.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Walk-In Express - Skip the wait at your favourite clinic!</title>


    <script src="../public/external/jquery-ui-1.12.1/external/jquery/jquery.js"></script>



    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="../public/css/book.css" rel="stylesheet">
    <link href="../public/css/modal.css" rel="stylesheet">



</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand topnav" href="/"><img src="/public/img/logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Header -->

<!-- Page Content -->
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Book Your Appointment</h2>

            <div id="map"></div>

                <h4 class="section-heading">West Windsor Medical Clinic</h4>
                <h6 class="section-text">1608 Tecumseh Rd W, Windsor, ON N9B 1T8</h6>
                <h6 class="section-text">(519) 258-4400</h6>


            <div id="vue-instance">
                <appointment v-for="item in inventory":key="item.id" v-bind:item="item" ></appointment>
            </div>
        </div>





    </div>
    <!-- /.container -->

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0MxRy96T3Hkl4btgbVrLjWDoWUt4GMug"
        async defer></script>


<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/privacy">Privacy Policy</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/dashboard">Clinic Dashboard</a>
                    </li>

                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <b class="emergency">Call 911 if this is an emergency!</b>
                    </li>

                </ul>
                <p class="copyright text-muted small">Copyright &copy; Walk-In Express 2017. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

</body>

<script src="../public/external/vue.js"></script>
<script src="../public/js/book.js"></script>

</html>


<!-- Template for new appointments -->
<template id="appointment">


        <div class="list-group">
            <div class="list-group-item clearfix">
                <p>{{ item.displayTime }}</p>
                <button id="show-modal" class="btn btn-danger" v-on:click="showModal = true">Book Appointment</button>
                <modal v-if="showModal" @close="showModal = false" v-bind:item="item"></modal>
                <!-- use the modal component, pass in the prop -->
               <!-- <button  data-toggle="collapse" v-on:click="bookAppointment(item.id)" style="float: right" class="btn btn-danger">Book Appointment</button>
            -->
            </div>
        </div>

</template>

<template id="modal-template">

        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                        <div id="DOB-alert" class="alert alert-warning alert-dismissible hide" role="alert">
                            <button type="button" class = "close" v-on:click="hideElement('DOB-alert')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p> Invalid Date. Must follow MM/DD/YYYY format.</p>
                        </div>

                    <div id="email-alert" class="alert alert-warning alert-dismissible hide" role="alert">
                        <button type="button" class = "close" v-on:click="hideElement('email-alert')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p> Invalid email. Must follow text@address.domain format.</p>
                    </div>


                    <div id="name-alert" class="alert alert-warning alert-dismissible hide" role="alert">
                        <button type="button"  class = "close" v-on:click="hideElement('name-alert')" >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p> The name field cannot be empty.</p>
                    </div>


                    <div id="phone-alert" class="alert alert-warning alert-dismissible hide" role="alert">
                        <button type="button" class="close" v-on:click="hideElement('phone-alert')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p>Invalid phone number. Must follow XXX-XXX-XXXX format. </p>
                    </div>

                    <div id="address-alert" class="alert alert-warning alert-dismissible hide" role="alert">
                        <button type="button" class="close" v-on:click="hideElement('address-alert')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p>The address field cannot be empty. </p>
                    </div>

                    <div class="modal-header">
                        <div name="header">
                            <h3 style="color: #0c8241"> {{ item.displayTime }} At West Windsor Walk-In Clinic</h3>
                        </div>
                    </div>


                    <div class="modal-body">
                        <div name="body">

                            <div class="form-group">
                                <label for="nameInput">Name</label>
                                <input type="text" class="form-control" id="nameInput" placeholder="Name:">
                            </div>


                            <div class="form-group">
                                <label for="phoneInput">Phone Number</label>
                                <input type="text" class="form-control" id="phoneInput" placeholder="Phone Number:">
                            </div>

                            <div class="form-group">
                                <label for="addressInput">Address</label>
                                <input type="text" class="form-control" id="addressInput" placeholder="Address:">
                            </div>

                            <div class="form-group">
                                <label for="emailInput">Email Address:</label>
                                <input type="text" class="form-control" id="emailInput" placeholder="Email:">
                            </div>

                            <div class="form-group" style="padding-bottom: 30px;">
                                <label for="dobInput">Date of Birth(MM/DD/YYYY)</label>
                                <input type="text" class="form-control" id="dobInput" placeholder="DOB:(MM/DD/YYYY)">
                            </div>



                            <div class="form-group" style="padding-bottom: 30px;">
                                <input type="checkbox" id="submitCheck" v-on:click="enableSubmit()">
                                <label class="mobileLabel">I agree to the <a href="/privacy" target="_blank">privacy policy. </a>
                                </label>

                            </div>



                            <div class="modal-footer">
                                <div id="footer">
                            <button class="btn btn-danger" @click="$emit('close')">Close Without Booking</button>
                            <button  id ="submit" class="btn btn-primary" style="float:right;" v-on:click="validateForm(item.id)" disabled>Book!</button>
                            <!-- v-on:click="bookAppointment(item.id)"=" -->
                                    <!-- @click="$emit('close')" -->
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

