extends base

block navbar
    nav.navbar.navbar-default.navbar-fixed-top.topnav(role='navigation')
        .container.topnav
            .navbar-header
                a.navbar-brand.topnav(href='/')
                    img(src='/public/img/banner.png')


block content
    link(href='../public/css/index.css', rel='stylesheet')
    .intro-header
        .container
            .row
                .col-lg-12
                    .intro-message
                        h1 Never Wait Again
                        hr.intro-divider
                        ul.list-inline.intro-social-buttons
                            p(style='font-size: 30px;')
                                | Something went wrong with your booking.. Please try again.
