<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/socket.io/socket.io.js"></script>
    <script
    src="https://code.jquery.com/jquery-1.12.4.js"
    integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.common.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!-- MetisMenu CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7+1/css/sb-admin-2.css" />
    <!-- Custom CSS -->

    <!-- Morris Charts CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7+1/js/sb-admin-2.js"></script>

    <!-- Custom Fonts -->


</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Walk-In Express</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"></h1>
            </div>
            <!-- /.col-lg-12 -->
            <div class="col-lg-12">
                <div id="vue-instance">
                    <new-appt v-for="item in inventory" v-bind:item="item"></new-appt>
                </div>

                <!-- /.col-lg-4 -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
</body>


<script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>


<script>


    var socket = io.connect();
    socket.emit("getInitial");
    // Triggers event in app.js to get initial data from the database.

    Vue.component('new-appt',{
        props:['item'],
        template:'#new-appt'
    });
    // Component that appears when a new appointment is made/updated with a patient


    var vm = new Vue({
        el: '#vue-instance',
        data: {
            inventory: [
            ]
        },
        created:function(){
            // triggers when the page is created

            socket.on("initRecords",function(data) {
                // Listens for event from app.js that sends all of the initial data from the database

                for (var i = 0; i < data.length; i++) {
                    // populates local data with database info

                    if(data[i].patient!=null) {
                        vm.inventory.push({
                            time: data[i].time, id: data[i].id, DOB: data[i].DOB, healthcard: data[i].healthcard,
                            phone: data[i].phone, address: data[i].address, name: data[i].name, patient: data[i].patient
                        });
                    }

                }

                // Triggers event to listen for changes in appointments on app.js
                socket.emit("updateRecords");
            });

            // Listens for response from app.js for changes in appointments
            socket.on("updateRecordsResults",function(data){

                // if a new appointment is added
                if(data.old_val == null){
                    console.log("here 1");
                    if(data.new_val.patient!=null) {

                        vm.inventory.push({time: data.new_val.time, id: data.new_val.id});
                    }
                }

                // if an existing appointment is deleted
                else if(data.new_val == null) {

                    for (var i = 0; i < vm.inventory.length; i ++) {
                        console.log("here 2");
                        if (vm.inventory[i].id == data.old_val.id) {
                            vm.inventory.splice(i,1);
                        }
                    }
                }

                // if an existing appointment is updated
                // This will be used most often, as we are updating existing appointments with new patients
                else{

                    if(data.new_val.patient!=null && data.new_val.id == data.old_val.id) {

                        // Only adds the appointment to the local data if the patient isn't null, and the ids of the both the new and old data are the same
                        // this ensures that is is an update to an existing appointment

                        // It's steup this way because the appointments will be initialized before they have patients assigned to them by the clinic ( Dr x is available at 4pm)
                        // and we only want to display appointments with assigned patients, as this means they're booked

                        console.log("here 3")

                        socket.emit("getNewAppointmentPatient",data.new_val.patient);

                        // this triggers an event to get the associated patient information for the updated appointment


                        socket.on("newAppointmentPatientData",function(results){

                            // Listens for the results of the patient information for the updated appointment
                            // And then adds it to the local data (below for loop)

                            for(var n = 0; n < results.length ;n ++) {
                                vm.inventory.push({
                                    time: data.new_val.time,
                                    id: data.new_val.id,
                                    DOB: results[n].DOB,    //
                                    healthcard: results[n].healthcard,
                                    phone: results[n].phone,
                                    address: results[n].address,
                                    name: results[n].name,
                                    patient: results[n].patient
                                });
                            }
                        });
                    }

                }

            });
        }
    });




</script>


<!-- Template for new appointments -->

<template id="new-appt">
    <div class="panel panel-yellow" id="newPanel">
        <div class="panel-heading" style="font-size:25px;">
            <div class="row">
                <div class="col-sm-10">New Patient</div>
                <div class="col-sm-2">{{ item.time }}</div>
            </div>


        </div>
        <div class="panel-body">
            <p> {{ item.name }}</p>
            <p> {{ item.DOB }}</p>
            <p> {{ item.healthcard }}</p>
            <p> {{ item.phone }}</p>
            <p> {{ item.address }}</p>

        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-primary" onclick="this.parentElement.parentElement.remove()">Dismiss</button>

        </div>
    </div>
</template>

