<!DOCTYPE html>
<head xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/socket.io/socket.io.js"></script>


    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="../public/external/jquery-ui-1.12.1/jquery-ui.css">
    <script type="text/javascript" src="../public/external/jquery-ui-1.12.1/jquery-ui.js"></script>


    <link rel="stylesheet" href="/public/css/modal.css">
    <link rel="stylesheet" href ="/public/css/base.css">

    <link rel="stylesheet" href ="/public/css/set.css">



</head>

<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard">
                <img src="/public/img/logo.png" alt="LOGO"">
            </a>
        </div>
        <!-- Top Menu Items -->
        <form action="/logout" method="POST" id="logout_form">
            <ul class="nav navbar-right top-nav">
                <li><a onclick="document.getElementById('logout_form').submit();"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
            </ul>
        </form>


        <div class="extra-topnav"></div>

        <div class="red-bar"></div>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="/dashboard"><i class="fa fa-fw fa fa-tachometer" aria-hidden="true"></i>DASHBOARD</a>
                </li>
                <li>
                    <a href="/set"><i class="fa fa-fw fa fa fa-calendar" aria-hidden="true"></i>SCHEDULE</a>
                </li>
                <li>
                    <a href="/dayview"><i class="fa fa-fw fa fa fa-line-chart" aria-hidden="true"></i>REPORTS</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-6">
                <div class="addButton-padding">
                    <!-- Modal Code -->
                    <div id="app">
                        <button id="show-modal" @click="showModal = true"class="btn btn-primary">Add new appointment slot</button>
                        <!-- use the modal component, pass in the prop -->
                        <modal v-if="showModal" @close="showModal = false"></modal>

                    </div>
                </div>


            </div>
            <div class="col-lg-6">
                <div class="selectDate" style="float:right;padding-top: 15px;">
                    <p>Date: <input type="text" id="datepicker"></p>
                    <button class="btn btn-default" style="float: right" onclick="changeDate()">Change Date</button>
                </div>
            </div>


            <div class="col-lg-12">
                <h3 id="currentDate" style="text-align: center;padding-bottom: 5px;"></h3>
            </div>
            <!-- /.col-lg-12 -->
            <div class="col-lg-12">
                <h1 class="page-header"></h1>
                <!-- Appointment code -->
                <div id="vue-instance">
                    <appointment v-for="item in inventory" v-bind:item="item"></appointment>
                </div>


                <!-- /.col-lg-4 -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
</body>


<!-- Template for new appointments -->
<template id="appointment">

        <div v-if ="item.patient != null" class="list-group">
            <div class="list-group-item clearfix" style="background-color: rgba(185,37,24,0.46)">
                <p>{{ item.displayTime }}</p>
                    <div class="pull-right">
                        <button class="btn btn-xs btn-warning" id="show-modal3" class="btn btn-danger" v-on:click="showModal2 = true">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <confirmmodal v-if="showModal2" @close="showModal2 = false" v-bind:item="item"></confirmmodal>

                        <button class="btn btn-xs btn-warning" id="show-modal2" class="btn btn-danger" v-on:click="showModal = true">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                        <patientmodal v-if="showModal" @close="showModal = false" v-bind:item="item"></patientmodal>
                        <!-- use the modal component, pass in the prop -->
                    </div>
                </div>
            </div>
        </div>

        <div v-else class="list-group">
            <div class="list-group-item clearfix">
                <p>{{ item.displayTime }}</p>
                <span class="pull-right">
                    <button class="btn btn-xs btn-warning" v-on:click="deleteAppointment(item.id)">

                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </span>
            </div>
        </div>

</template>


<template id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <div name="header">
                            <h3>Add New Appointment Slot</h3>
                        </div>
                    </div>

                        <div class="modal-body">
                            <div name="body">

                                    <div class="form-inline">
                                        <label for="hourInput">Appointment Time: </label>
                                        <select class="form-control" id="hourInput">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>


                                        <label for="minInput"></label>
                                        <select class="form-control" id="minInput">
                                            <option>00</option>
                                            <option>05</option>
                                            <option>10</option>
                                            <option>15</option>
                                            <option>20</option>
                                            <option>25</option>
                                            <option>30</option>
                                            <option>35</option>
                                            <option>40</option>
                                            <option>45</option>
                                            <option>50</option>
                                            <option>55</option>
                                        </select>

                                        <select class="form-control" id="period">
                                            <option>AM</option>
                                            <option>PM</option>
                                        </select>

                                    </div>

                                <!--
                                <div class="form-group">
                                    <label for="sel1">Select period:</label>
                                    <select class="form-control" id="sel1">
                                        <option>AM</option>
                                        <option>PM</option>
                                    </select>
                                </div>
                                -->


                            </div>
                        </div>

                        <div class="modal-footer">
                            <div id="footer">
                                <button class="btn btn-danger" @click="$emit('close')">Close without saving</button>
                                <button class="btn btn-primary" v-on:click="newAppointmentSlot()" @click="$emit('close')">Save</button>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </transition>
</template>


<template id="confirmmodal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <div name="header">
                            <h3>Delete Booked Appointment</h3>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div name="body">
                            <b>This appointment has been booked by a patient.</b>
                            <br>
                            <b> Are you sure you want to delete this appointment?</b>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div id="footer1">
                            <button class="btn btn-danger" @click="$emit('close')">No</button>
                            <button class="btn btn-primary" v-on:click="deleteAppointment(item.id)" @click="$emit('close')">Yes</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </transition>
</template>

<template id="patientmodal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <div name="header">
                            <h3>Patient Information</h3>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div name="body">

                            <p> <b>Name: </b>{{ item.name }}</p>
                            <p> <b>Date of Birth: </b> {{ item.DOB }}</p>
                            <p> <b>Phone: </b> {{ item.phone }}</p>
                            <p> <b>Address: </b> {{ item.address }}</p>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <div id="footer3">
                            <button class="btn btn-danger" @click="$emit('close')">Close</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </transition>
</template>


<script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
<script src="/public/js/set.js"></script>