extends base

block navbar
    nav.navbar.navbar-default.navbar-fixed-top.topnav(role='navigation')
        .container.topnav
            .navbar-header
                a.navbar-brand.topnav(href='/')
                    img(src='/public/img/banner.png')


block content
    link(href='../public/css/index.css', rel='stylesheet')
    style(type="text/css").

        .step {

            max-height:40%;

        }
        .section-heading{
            padding-top:11% ;
            text-align: center;
        }

    .container
        .row
            h2.section-heading
                | Thanks for booking with Walk-In Express!
            .col-sm-4
                img(src ='../public/img/StepOne.png', class="step img-responsive")
            .col-sm-4
                img(src ='../public/img/StepTwo.png',class="step img-responsive")
            .col-sm-4
                img(src ='../public/img/StepThree.png',class="step img-responsive")
